In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns

# Working with Time Data

## pd.to_datetime()
https://pandas.pydata.org/docs/reference/api/pandas.to_datetime.html

In [ ]:
df = pd.read_csv("../data&resources/time_exercise.csv")
df.head()

   id_product  order_date  product_quantity  product_price  entry_date
0         401  2021-01-23               1.0     541.487603  2018-12-04
1         416  2020-04-02               1.0     131.181818  2018-12-04
2         717  2019-03-10               1.0    2035.488500  2018-12-04
3         778  2019-12-27               1.0     335.988000  2018-12-04
4         826  2020-02-19               1.0     342.292302  2018-12-04

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 911 entries, 0 to 910
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id_product        911 non-null    int64
 1   order_date        911 non-null    object
 2   product_quantity  911 non-null    float64
 3   product_price     911 non-null    float64
 4   entry_date        911 non-null    object
dtypes: float64(2), int64(1), object(2)
memory usage: 35.7+ KB

In [ ]:
df["order_date"]

0      2021-01-23
1      2020-04-02
2      2019-03-10
3      2019-12-27
4      2020-02-19
          ...
906    2020-11-24
907    2020-11-24
908    2020-11-22
909    2021-01-26
910    2020-12-06
Name: order_date, Length: 911, dtype: object

In [ ]:
pd.to_datetime(df["order_date"])

0     2021-01-23
1     2020-04-02
2     2019-03-10
3     2019-12-27
4     2020-02-19
         ...
906   2020-11-24
907   2020-11-24
908   2020-11-22
909   2021-01-26
910   2020-12-06
Name: order_date, Length: 911, dtype: datetime64[ns]

In [ ]:
df["entry_date"] = pd.to_datetime(df["entry_date"])
df["order_date"] = pd.to_datetime(df["order_date"])

In [ ]:
df.head()

   id_product order_date  product_quantity  product_price entry_date
0         401 2021-01-23               1.0     541.487603 2018-12-04
1         416 2020-04-02               1.0     131.181818 2018-12-04
2         717 2019-03-10               1.0    2035.488500 2018-12-04
3         778 2019-12-27               1.0     335.988000 2018-12-04
4         826 2020-02-19               1.0     342.292302 2018-12-04

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 911 entries, 0 to 910
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id_product        911 non-null    int64
 1   order_date        911 non-null    datetime64[ns]
 2   product_quantity  911 non-null    float64
 3   product_price     911 non-null    float64
 4   entry_date        911 non-null    datetime64[ns]
dtypes: datetime64[ns](2), float64(2), int64(1)
memory usage: 35.7 KB

In [ ]:
df.entry_date.min()

Timestamp('2018-12-04 00:00:00')

In [ ]:
df.entry_date.max()

Timestamp('2020-11-26 00:00:00')

In [ ]:
a = pd.Series(["15-03-2020", "18-05-2019", "24-07-2018"])  #string halde doğru çalışmaz,max ve min
a

0    15-03-2020
1    18-05-2019
2    24-07-2018
dtype: object

In [ ]:
a.max()

'24-07-2018'

In [ ]:
pd.to_datetime(a, format='%d-%m-%Y')

0   2020-03-15
1   2019-05-18
2   2018-07-24
dtype: datetime64[ns]

In [ ]:
pd.to_datetime(a, format='%d-%m-%Y').max()

Timestamp('2020-03-15 00:00:00')

## Series.dt()
Accessor object for datetimelike properties of the Series values.

https://pandas.pydata.org/docs/reference/api/pandas.Series.dt.html

In [ ]:
df["entry_date"].dt.year # it can be date, year, quarter, month, week, day, weekday, dayofweek, hour, minute, second, microsecond

0      2018
1      2018
2      2018
3      2018
4      2018
       ...
906    2020
907    2020
908    2020
909    2020
910    2020
Name: entry_date, Length: 911, dtype: int64

In [ ]:
df.entry_date.dt.quarter

0      4
1      4
2      4
3      4
4      4
      ..
906    4
907    4
908    4
909    4
910    4
Name: entry_date, Length: 911, dtype: int64

In [ ]:
df.entry_date.dt.dayofweek

0      1
1      1
2      1
3      1
4      1
      ..
906    2
907    2
908    4
909    1
910    3
Name: entry_date, Length: 911, dtype: int64

## datetime module
The datetime module supplies classes for manipulating dates and times.

https://docs.python.org/3/library/datetime.html

### class datetime.datetime

A combination of a date and a time. Attributes: year, month, day, hour, minute, second, microsecond, and tzinfo.

In [ ]:
from datetime import datetime

In [ ]:
datetime.now()

datetime.datetime(2022, 1, 31, 16, 31, 33, 269405)

In [ ]:
print(datetime.now())

2022-01-31 16:31:33.285361

In [ ]:
print(datetime.today())

2022-01-31 16:31:33.299325

In [ ]:
current_datetime = datetime.now()
print(current_datetime)

2022-01-31 16:31:33.317277

In [ ]:
current_datetime.date() # it can be date, year, month, day, weekday, isoweekday, hour, minute, second, microsecond, tzinfo

datetime.date(2022, 1, 31)

In [ ]:
current_datetime.year

2022

In [ ]:
current_datetime.weekday() # Return the day of the week as an integer, where Monday is 0 and Sunday is 6.

0

In [ ]:
current_datetime.isoweekday() # Return the day of the week as an integer, where Monday is 1 and Sunday is 7.

1

### class datetime.timedelta

A duration expressing the difference between two date, time, or datetime instances to microsecond resolution.

In [ ]:
from datetime import timedelta

In [ ]:
timedelta(days=2)

datetime.timedelta(days=2)

In [ ]:
print(timedelta(days=2))

2 days, 0:00:00

In [ ]:
current_datetime

datetime.datetime(2022, 1, 31, 16, 31, 33, 317277)

In [ ]:
two_days_before = current_datetime-timedelta(days=2)
two_days_before

datetime.datetime(2022, 1, 29, 16, 31, 33, 317277)

In [ ]:
current_datetime+timedelta(weeks=2, days=3, hours=4, minutes=10)

datetime.datetime(2022, 2, 17, 20, 41, 33, 317277)

In [ ]:
print(f"{'current_date': <15}", current_datetime)
print(f"{'plus': <15}", timedelta(weeks=2, hours=4, minutes=10))
print(f"{'total': <15}", current_datetime+timedelta(weeks=2, days=3, hours=4, minutes=10))

current_date    2022-01-31 16:31:33.317277
plus            14 days, 4:10:00
total           2022-02-17 20:41:33.317277

### strftime()

Converting from date/datetime/timedelta object to string type

https://strftime.org/

In [ ]:
current_datetime

datetime.datetime(2022, 1, 31, 16, 31, 33, 317277)

In [ ]:
print(current_datetime)

2022-01-31 16:31:33.317277

In [ ]:
current_datetime.strftime("%Y")

'2022'

In [ ]:
year = current_datetime.strftime("%Y")
print("year:", year)

month = current_datetime.strftime("%m")
print("month:", month)

day = current_datetime.strftime("%d")
print("day:", day)

time = current_datetime.strftime("%H:%M:%S")
print("time:", time)

date_time = current_datetime.strftime("%m/%d/%Y, %H:%M:%S")
print("date and time:",date_time)

year: 2022
month: 01
day: 31
time: 16:31:33
date and time: 01/31/2022, 16:31:33

### strptime()

Converting from string type to datetime object

In [ ]:
date_string = "21 June, 2018"
date_string

'21 June, 2018'

In [ ]:
datetime.strptime(date_string, "%d %B, %Y")
#datetime.strptime(date_string) # gives an error

datetime.datetime(2018, 6, 21, 0, 0)

In [ ]:
pd.to_datetime(date_string)

Timestamp('2018-06-21 00:00:00')

In [ ]:
datetime_object = datetime.strptime(date_string, "%d %B, %Y")
datetime_object

datetime.datetime(2018, 6, 21, 0, 0)

In [ ]:
datetime_object.year

2018

### Operation with datetime object

**lets detect the time between first order date and entry date for each product**

In [ ]:
df

     id_product order_date  product_quantity  product_price entry_date
0           401 2021-01-23               1.0     541.487603 2018-12-04
1           416 2020-04-02               1.0     131.181818 2018-12-04
2           717 2019-03-10               1.0    2035.488500 2018-12-04
3           778 2019-12-27               1.0     335.988000 2018-12-04
4           826 2020-02-19               1.0     342.292302 2018-12-04
..          ...        ...               ...            ...        ...
906     1536842 2020-11-24               1.0    1186.776860 2020-10-07
907     1536842 2020-11-24               1.0    1186.776860 2020-10-07
908     1536887 2020-11-22               1.0       0.000000 2020-11-13
909     1536952 2021-01-26               1.0     988.429752 2020-11-24
910     1536974 2020-12-06               1.0       0.000000 2020-11-26

[911 rows x 5 columns]

In [ ]:
df["order_date"] - df["entry_date"]

0     781 days
1     485 days
2      96 days
3     388 days
4     442 days
        ...
906    48 days
907    48 days
908     9 days
909    63 days
910    10 days
Length: 911, dtype: timedelta64[ns]

In [ ]:
df["passing_time_to_firstsale"] = df["order_date"] - df["entry_date"]

In [ ]:
df["passing_time_to_firstsale"].astype("str").str.split(" ").str[0].astype(int)

0      781
1      485
2       96
3      388
4      442
      ...
906     48
907     48
908      9
909     63
910     10
Name: passing_time_to_firstsale, Length: 911, dtype: int32

In [ ]:
df["passing_time_to_firstsale"] = df["passing_time_to_firstsale"].astype("str").str.split(" ").str[0].astype(int)
df

,id_product,order_date,product_quantity,product_price,entry_date,passing_time_to_firstsale
0,401,2021-01-23,1.0,541.487603,2018-12-04,781
1,416,2020-04-02,1.0,131.181818,2018-12-04,485
2,717,2019-03-10,1.0,2035.488500,2018-12-04,96
3,778,2019-12-27,1.0,335.988000,2018-12-04,388
4,826,2020-02-19,1.0,342.292302,2018-12-04,442
...,...,...,...,...,...,...
906,1536842,2020-11-24,1.0,1186.776860,2020-10-07,48
907,1536842,2020-11-24,1.0,1186.776860,2020-10-07,48
908,1536887,2020-11-22,1.0,0.000000,2020-11-13,9
909,1536952,2021-01-26,1.0,988.429752,2020-11-24,63
910,1536974,2020-12-06,1.0,0.000000,2020-11-26,10

In [ ]:
df.groupby("id_product")["passing_time_to_firstsale"].min()

id_product
401        781
416        485
717         96
778        388
826        442
          ...
1536841     38
1536842     48
1536887      9
1536952     63
1536974     10
Name: passing_time_to_firstsale, Length: 498, dtype: int32

In [ ]:
df.groupby("id_product")["passing_time_to_firstsale"].transform(min)

0      781
1      485
2       96
3      388
4      442
      ...
906     48
907     48
908      9
909     63
910     10
Name: passing_time_to_firstsale, Length: 911, dtype: int32

In [ ]:
df["passing_time_to_firstsale"]=df.groupby("id_product")["passing_time_to_firstsale"].transform(min)
df

,id_product,order_date,product_quantity,product_price,entry_date,passing_time_to_firstsale
0,401,2021-01-23,1.0,541.487603,2018-12-04,781
1,416,2020-04-02,1.0,131.181818,2018-12-04,485
2,717,2019-03-10,1.0,2035.488500,2018-12-04,96
3,778,2019-12-27,1.0,335.988000,2018-12-04,388
4,826,2020-02-19,1.0,342.292302,2018-12-04,442
...,...,...,...,...,...,...
906,1536842,2020-11-24,1.0,1186.776860,2020-10-07,48
907,1536842,2020-11-24,1.0,1186.776860,2020-10-07,48
908,1536887,2020-11-22,1.0,0.000000,2020-11-13,9
909,1536952,2021-01-26,1.0,988.429752,2020-11-24,63
910,1536974,2020-12-06,1.0,0.000000,2020-11-26,10

**lets detect the time between last order date and today for each product**

In [ ]:
df.groupby("id_product").order_date.max()

id_product
401       2021-01-23
416       2020-04-02
717       2019-03-10
778       2019-12-27
826       2020-02-19
             ...
1536841   2020-11-22
1536842   2020-11-24
1536887   2020-11-22
1536952   2021-01-26
1536974   2020-12-06
Name: order_date, Length: 498, dtype: datetime64[ns]

In [ ]:
df.groupby("id_product").order_date.transform(max).dt.date

0      2021-01-23
1      2020-04-02
2      2019-03-10
3      2019-12-27
4      2020-02-19
          ...
906    2020-11-24
907    2020-11-24
908    2020-11-22
909    2021-01-26
910    2020-12-06
Name: order_date, Length: 911, dtype: object

In [ ]:
last_order_date = df.groupby("id_product").order_date.transform(max).dt.date

In [ ]:
today = pd.to_datetime("01-02-2021", format='%d-%m-%Y').date()
print(today)

2021-02-01

In [ ]:
today - last_order_date

0       9 days
1     305 days
2     694 days
3     402 days
4     348 days
        ...
906    69 days
907    69 days
908    71 days
909     6 days
910    57 days
Name: order_date, Length: 911, dtype: timedelta64[ns]

In [ ]:
df["passing_time_from_lastsale"] = today - last_order_date

In [ ]:
df["passing_time_from_lastsale"] = df["passing_time_from_lastsale"].astype("str").str.split(" ").str[0].astype(int)
df

,id_product,order_date,product_quantity,product_price,entry_date,passing_time_to_firstsale,passing_time_from_lastsale
0,401,2021-01-23,1.0,541.487603,2018-12-04,781,9
1,416,2020-04-02,1.0,131.181818,2018-12-04,485,305
2,717,2019-03-10,1.0,2035.488500,2018-12-04,96,694
3,778,2019-12-27,1.0,335.988000,2018-12-04,388,402
4,826,2020-02-19,1.0,342.292302,2018-12-04,442,348
...,...,...,...,...,...,...,...
906,1536842,2020-11-24,1.0,1186.776860,2020-10-07,48,69
907,1536842,2020-11-24,1.0,1186.776860,2020-10-07,48,69
908,1536887,2020-11-22,1.0,0.000000,2020-11-13,9,71
909,1536952,2021-01-26,1.0,988.429752,2020-11-24,63,6
910,1536974,2020-12-06,1.0,0.000000,2020-11-26,10,57