___

<a href="https://lms.clarusway.com/mod/lesson/view.php?id=8511&pageid=8142&startlastseen=no"><img align="center" src="https://i.ibb.co/6Z5pQxD/lmss.png" alt="Open in Clarusway LMS" width="70" height="200" title="Open Clarusway Learning Management Sytem"></a>

<a href="https://github.com/clarusway/DS-DE-0322-Students/blob/main/3-%20Classes%26Labs/2-DAwPY/DAwPy_S03_(Pandas%20Series).ipynb"><img align="left" src="https://i.ibb.co/n3HWyQX/github-logo.png" alt="Open in Clarusway GitHub" width="100" height="150" title="Open and Execute in Clarusway GitHub Repository"></a>

<a href="https://nbviewer.org/github/4dsolutions/clarusway_data_analysis/blob/main/DAwPy_S3_%28Pandas_Series%29/DAwPy_S3_%28Pandas_Series%29.ipynb"><img align="right" src="https://i.ibb.co/48wtV8c/nbviewer-badge.png" alt="Open in nbviewer" width="130" height="200" title="Open and Execute in nbviewer"></a><br/>
___

<a href="https://clarusway.com/"><img align="center" src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" alt="CLRSWY" width="450" height="200" title="Welcome to Place Where You can Reinvent Yourself"></a><br/>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#9d4f8c; font-size:120%; text-align:center; border-radius:10px 10px;">Way to Reinvent Yourself</p>

<p style="text-align: center;"><img src="https://i.ibb.co/99DQ3TY/DS-Courses.png" class="img-fluid" 
alt="CLRSWY"></p>

<img src=https://i.ibb.co/6gCsHd6/1200px-Pandas-logo-svg.png width="700" height="200">

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:200%; text-align:center; border-radius:10px 10px;">Data Analysis with Python</p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:150%; text-align:center; border-radius:10px 10px;">Session - 03</p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#4d77cf; font-size:200%; text-align:center; border-radius:10px 10px;">Pandas Series</p>

<a id="toc"></a>

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">Content</p>

* [IMPORTING LIBRARIES NEEDED IN THIS NOTEBOOK](#0)
* [CREATING PANDAS SERIES](#1)
    * [Using Lists](#1.1)
    * [Using Numpy Arrays](#1.2)
    * [Using Dictionaries](#1.3)
    * [Using Scalar Value](#1.4)
* [DATA IN A SERIES](#2)
* [BASIC ATTRIBUTES & METHODS OF SERIES](#3)
* [INDEXING AND SLICING WİTH PANDAS SERIES](#4)
* [Selection with Condition and Broadcasting](#5)
* [RECAP FOR SEVERAL SELECTING ATTRIBUTES](#6)
* [THE END OF THE SESSION-03](#7)

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Importing Libraries Needed in This Notebook</p>

<a id="0"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

Once you've installed NumPy & Pandas you can import them as a library:

In [1]:
import pandas as pd
import numpy as np

# import warnings
# warnings.filterwarnings("ignore")  # to suppress all warnings

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Creating a Pandas Series</p>

<a id="1"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

Pandas series is a one-dimensional data structure. It can hold data of many types including objects, floats, strings and integers. You can create a series by calling pandas.Series(). A list, numpy array, dict can be turned into a pandas series. You should use the simplest data structure that meets your needs [Source](https://pythonbasics.org/pandas-series/). The axis labels are collectively called index. Labels need not be unique but must be a hashable type. The object supports both integer and label-based indexing and provides a host of methods for performing operations involving the index [Source](https://www.geeksforgeeks.org/creating-a-pandas-series/).

[SOURCE01](https://pandas.pydata.org/docs/reference/api/pandas.Series.html), 
[SOURCE02](https://www.datasciencemadesimple.com/create-series-in-python-pandas/), 
[SOURCE03](https://www.cbsecsip.in/2020/08/pandas-data-structure-series.html), 
[SOURCE04](https://towardsdatascience.com/pandas-series-a-lightweight-intro-b7963a0d62a2), 
[SOURCE05](https://www.educba.com/pandas-series/), 
[SOURCE06](http://www.rebellionrider.com/python-pandas-series-in-detail-part-1/), 
[SOURCE07](https://www.javatpoint.com/python-pandas-series)
[SOURCE08](https://towardsdatascience.com/20-examples-to-master-pandas-series-bc4c68200324), &
[SOURCE09](https://pythonbasics.org/pandas-series/)<br>

In this lecture we will discuss how to create Pandas Series, use basic attributes of Series, index Pandas Series & be familiar with Pandas Dataframes.

**Pandas comes with many data structures for processing data. One of them is a Series. You can create a Series by calling pandas.Series() method. A list, numpy array, dict and scalar value can be turned into a pandas series. The syntax for a series is:**

**``pd.Series(data=None, index=None, dtype=None, name=None, copy=False, fastpath=False)``**

One-dimensional ndarray with axis labels (including time series).

In [2]:
# help(pd.Series())
# ? pd.Series

Init signature:
 pd.Series(
            data=None,
            index=None,
            dtype: 'Dtype | None' = None,
            name=None,
            copy: 'bool' = False,
            fastpath: 'bool' = False,
          )
Docstring:     
One-dimensional ndarray with axis labels (including time series).

Labels need not be unique but must be a hashable type. The object supports both integer- and label-based indexing and provides a host of methods for performing operations involving the index. Statistical methods from ndarray have been overridden to automatically exclude missing data (currently represented as NaN).

Operations between Series (+, -, /, \*, \*\*) align values based on their associated index values-- they need not be the same length. The result index will be the sorted union of the two indexes.

Parameters
----------
data : array-like, Iterable, dict, or scalar value
    Contains data stored in Series. If data is a dict, argument order is     maintained.
index : array-like or Index (1d)
    Values must be hashable and have the same length as `data`. Non-unique index values are allowed. Will default to
    RangeIndex (0, 1, 2, ..., n) if not provided. If data is dict-like and index is None, then the keys in the data are used as
    the index. If the index is not None, the resulting Series is reindexed with the index values.
dtype : str, numpy.dtype, or ExtensionDtype, optional
    Data type for the output Series. If not specified, this will be inferred from `data`.
    See the :ref:`user guide <basics.dtypes>` for more usages.
name : str, optional
    The name to give to the Series.
copy : bool, default False
    Copy input data. Only affects Series or 1d ndarray input. See examples.

Examples
--------
Constructing Series from a dictionary with an Index specified

>>> d = {'a': 1, 'b': 2, 'c': 3}
>>> ser = pd.Series(data=d, index=['a', 'b', 'c'])
>>> ser
a   1
b   2
c   3
dtype: int64

The keys of the dictionary match with the Index values, hence the Index values have no effect.

>>> d = {'a': 1, 'b': 2, 'c': 3}
>>> ser = pd.Series(data=d, index=['x', 'y', 'z'])
>>> ser
x   NaN
y   NaN
z   NaN
dtype: float64

Note that the Index is first build with the keys from the dictionary. After this the Series is reindexed with the given Index values, hence we get all NaN as a result.

Constructing Series from a list with `copy=False`.

>>> r = [1, 2]
>>> ser = pd.Series(r, copy=False)
>>> ser.iloc[0] = 999
>>> r
[1, 2]
>>> ser
0    999
1      2
dtype: int64

Due to input data type the Series has a `copy` of the original data even though `copy=False`, so the data is unchanged.

Constructing Series from a 1d ndarray with `copy=False`.

>>> r = np.array([1, 2])
>>> ser = pd.Series(r, copy=False)
>>> ser.iloc[0] = 999
>>> r
array([999,   2])
>>> ser
0    999
1      2
dtype: int64

Due to input data type the Series has a `view` on the original data, so the data is changed as well.
File:           c:\users\tuseb.000\anaconda3\lib\site-packages\pandas\core\series.py
Type:           type
Subclasses:     SubclassedSeries

**Before creating our first Series, let us define some list objects to use:**

In [3]:
labels = ['a', 'b', 'c']
my_list = [10, 20, 30]
arr = np.array([10, 20, 30])
d = {'a': 10, 'b': 20, 'c': 30}

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">Using Lists</p>

<a id="1.2.1"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

**To turn a list into a series, all you have to do is:**

In [4]:
pd.Series(labels)  # Here, we have created a Series from a list named "label" containing values of string.

0    a
1    b
2    c
dtype: object

In [5]:
pd.Series(my_list)  # Here, we have created a Series from a list named "my_list" containing values of interger.

0    10
1    20
2    30
dtype: int64

In [6]:
pd.Series([10, 20, 30])  # Here, we have created a Series from a list by directly putting inside the method.

0    10
1    20
2    30
dtype: int64

In [7]:
pd.Series([10, 20, "30"])

0    10
1    20
2    30
dtype: object

**By default, it assigns an index**. First, it shows the index, then the element value. Moreover, note that Pandas will guess the data type of the elements of the list because **a Series doesn't admit mixed types (contrary to Python lists)**. In the example above the inferred datatype was either object (the Python string) or integer because they are the most general/common ones and can accommodate all other data types ([See Data Types in Pandas](https://pbpython.com/pandas_dtypes.html)).

**[How to create a series from a list using Pandas?](https://www.tutorialspoint.com/how-to-create-a-series-from-a-list-using-pandas)**

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">Using NumPy Arrays</p>

<a id="1.2.2"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

**You can create a series from a numpy ndarray.**

In [8]:
arr

array([10, 20, 30])

In [9]:
pd.Series(data=arr)

0    10
1    20
2    30
dtype: int32

In [10]:
labels

['a', 'b', 'c']

In [11]:
pd.Series(data=arr, index=labels)  # You can create a Series from a numpy ndarray. We can change its index as well.

a    10
b    20
c    30
dtype: int32

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">Using Dictionaries</p>

<a id="1.2.3"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

**If you have a dictionary, you can turn it into a series:**

In [12]:
d

{'a': 10, 'b': 20, 'c': 30}

In [13]:
pd.Series(d)  # If you have a dictionary, you can turn it into a series.

a    10
b    20
c    30
dtype: int64

It used the dictionary keys as index. The keys of the dictionary match with the Index values; hence, the default Index values have no effect.

In [14]:
pd.Series(data=d, index=['q', 'c', 'y'])

q     NaN
c    30.0
y     NaN
dtype: float64

Note that the Index is first build with the keys from the dictionary. After this, the Series is reindexed with the given Index values; hence' we get all NaN as a result.

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">Using Scalar Value</p>

<a id="1.2.4"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

**``Scalars``** are **single values** representing one unit of data, such as an integer or bool, as opposed to data structures like a list or tuple, which are composed of scalars.

If data is a scalar value, **an index must be provided**. The value will be repeated to match the length of index [Source](https://www.tutorialspoint.com/python_pandas/python_pandas_series.htm).

In [15]:
pd.Series(data="Steve")

0    Steve
dtype: object

In [16]:
pd.Series(data="Steve", index=range(3))

# In order to create a Series from scalar value, an index must be provided. 
# The scalar value will be repeated to match the length of the index.

0    Steve
1    Steve
2    Steve
dtype: object

In [17]:
pd.Series(data=10, index=['a', 'b', 'c'])

a    10
b    10
c    10
dtype: int64

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Data in a Series</p>

<a id="2"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

**``A series``** is a **one-dimensional array like data structure with homogeneous data**. A Series is very **similar to a NumPy array** (in fact it is built on top of the NumPy array object). **What differentiates** the NumPy array from a Series, is that a Series can **have axis labels**, meaning it **can be indexed by a label**, instead of just a number location. It also **doesn’t need to hold numeric data**, it can hold any arbitrary Python Object [Source](http://www.datasciencelovers.com/python-for-data-science/pandas-series/).

In [18]:
# Let us first remember how a Numpy array looks like:
# While a value in a Numpy array does have invisible index (number location) which can be accessed by indexing, 
# a Series can have axis labels which can be indexed by a label.

np.arange(1, 17).reshape(4, 4)

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12],
       [13, 14, 15, 16]])

In [111]:
pd.Series(np.arange(1, 17))

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
12    13
13    14
14    15
15    16
dtype: int32

So important point to remember for Pandas series is:

- **Homogeneous data**
- **Size Immutable** (All Pandas data structures are value mutable (can be changed) and except Series all are size mutable. Series is size immutable.)
- **Values of Data Mutable**

[Data Structures in Pandas](https://www.tutorialspoint.com/python_pandas/python_pandas_introduction_to_data_structures.htm)
[10 Quick Facts About Python Pandas](https://towardsdatascience.com/10-quick-facts-about-python-pandas-c9ea16ba2bb8)

**A pandas Series can hold a variety of object types:**

In [19]:
# You can create a Series by set, list, and dict functions, and then use each one for its intended purpose.

objects = pd.Series([set, list, dict])
objects

0     <class 'set'>
1    <class 'list'>
2    <class 'dict'>
dtype: object

In [20]:
print(objects[0])  # 0th element of the series we created above is <class 'set'>
objects[0]([2, 5, 7, 5, 8, 2])

# pd.Series(set)[0]([2, 5, 7, 5, 8, 2])

<class 'set'>

{2, 5, 7, 8}

In [21]:
objects[1](range(9)) 

# Since the first element of the Series is a list, when range(9) is put into it, 
# it creates a list of numbers between 0-9.

[0, 1, 2, 3, 4, 5, 6, 7, 8]

**A pandas Series can even hold functions (although unlikely that you will use this)**

In [22]:
pd.Series([sum, print, len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [23]:
pd.Series([sum, print, len])[1]("a")

# Since the second element is the print() function, it prints the we wrote next to it.

a

In [24]:
pd.Series([sum, print, len])[2]("clarusway")

# Since the second element is the len() function, we can find the length of the data we wrote next to it.

9

In the [overview page](https://pandas.pydata.org/pandas-docs/stable/getting_started/overview.html) of the [Pandas](https://pandas.pydata.org/) documentation the Series data structure is described as "homogeneously-typed". However, it is possible to create Series objects with multiple (mix) data-types.

**Question:** [So what could be the meaning of homogeneously-typed mentioned in pandas documentation?]()<br>
**Answer:** If you have multiple different (mix) types in a Series, saying **``int``**, **``string``** and **``boolean``**, all of the data will get **upcasted** to the same dtype=object (as you can see from the following example).

Here is a better explanation from the Pandas documentation's [Essential Basic Functionality](https://pandas.pydata.org/pandas-docs/stable/user_guide/basics.html):

``* If a DataFrame or Panel contains homogeneously-typed data, the ndarray can actually be modified in-place, and the changes will be reflected in the data structure. For heterogeneous data (e.g. some of the DataFrame’s columns are not all the same dtype), this will not be the case. The values attribute itself, unlike the axis labels, cannot be assigned to.``

``* Note: When working with heterogeneous data, the dtype of the resulting ndarray will be chosen to accommodate all of the data involved. For example, if strings are involved, the result will be of object dtype. If there are only floats and integers, the resulting array will be of float dtype.``

In [25]:
mix_data = ['Aziz', 2, True]

# Pandas Series is capable of holding data of any type (integer, string, float, python objects, etc.).

In [26]:
ser = pd.Series(mix_data)
ser

0    Aziz
1       2
2    True
dtype: object

**While dtype of the Series above is "O" where 'O' is for "object"; On the otherhand, if you check the type of the individual elements of your Series, they are different. Each element of Series will keep its original dtype.**

In [27]:
ser.dtype  # Since object(Python string) is the most comprehensive one it returns the dtype of Series as an object.

dtype('O')

In [28]:
type(ser)  # When we look at the type of the Series, we see that it is the Pandas Series.

pandas.core.series.Series

In [29]:
type(ser[0])  # When we look at the type of the 0th element of the Series, we can see that it is str.

str

In [30]:
type(ser[1])  # When we look at the type of the 1st element of the Series, we can see that it is int.

int

In [31]:
# Let us remember NumPy dtypes

print(mix_data)
arr = np.array(mix_data)
arr

['Aziz', 2, True]

array(['Aziz', '2', 'True'], dtype='<U4')

When we create ndarray from a list containing different data types it converted them all to strings. Because NumPy arrays contain only one type of data it converted all into str as it is the most comprehensive one.

[What are all the dtypes that pandas recognizes?](https://numpy.org/doc/stable/reference/arrays.dtypes.html)

In [32]:
# Let's check the type of third element in the array which was "boolean" in the list. 

type(arr[2])

numpy.str_

[Reminder Source for Numpy Arrays](https://pythonguides.com/python-numpy-data-types/)

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">BASIC ATTRIBUTES & METHODS OF SERIES</p>

<a id="3"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

**SOME COMMON ATTRIBUTES** [Official Pandas API Document](https://pandas.pydata.org/docs/reference/api/pandas.Series.html)<br>

**Series.dtype**	It returns the data type of the data.<br>
**Series.shape**	It returns a tuple of shape of the data.<br>
**Series.size**	    It returns the size of the data.<br>
**Series.ndim**	    It returns the number of dimensions in the data.<br>
**Series.index**	Defines the index of the Series.<br>
**Series.keys**  	Return alias for index.<br>
**Series.values**   Returns Series as ndarray or ndarray-like depending on the dtype.<br>
**Series.items**	Lazily iterate over (index, value) tuples.<br>
**Series.head**   	Return the first n rows.<br>
**Series.tail** 	Return the last n rows.<br>
**Series.sample**   Return a random sample of items from an axis of object.<br>
**Series.sort_index**  Sort Series by index labels.<br>
**Series.sort_values**  Sort by the values.<br>
**Series.isin**     Whether elements in Series are contained in values.<br>

In [33]:
ser = pd.Series(np.random.randint(0, 100, 7))
ser

0    66
1     8
2    55
3    48
4     5
5    11
6    14
dtype: int32

In [34]:
type(ser)

pandas.core.series.Series

In [35]:
ser.dtype

dtype('int32')

In [36]:
# Pandas Series.shape attribute returns a tuple of the shape of the underlying data for the given series objects.

ser.shape

(7,)

In [37]:
# Pandas Series.shape attribute returns the number of elements in the underlying data.

ser.size

7

In [38]:
len(ser)

7

In [39]:
# Pandas Series.shape attribute returns the number of dimensions of the underlying data, by definition it is 1 for series objects.

ser.ndim

1

In [40]:
ser

0    66
1     8
2    55
3    48
4     5
5    11
6    14
dtype: int32

In [41]:
# Pandas Series.index attribute is used to get or set the index labels of the given Series object.

ser.index

RangeIndex(start=0, stop=7, step=1)

In [42]:
list(ser.index)

[0, 1, 2, 3, 4, 5, 6]

In [43]:
# Pandas Series.keys() function is an alias for index. It returns the index labels of the given Series object.

ser.keys()

RangeIndex(start=0, stop=7, step=1)

In [44]:
for i in ser.index: # we can also use "keys()"
    print(i)

0
1
2
3
4
5
6

In [45]:
# Pandas Series.values attribute returns a Series containing values as ndarray or ndarray-like depending on the dtype.

ser.values

array([66,  8, 55, 48,  5, 11, 14])

In [46]:
# If we want to extract values to a list, rather than an array, we can create a list comprehension.

[i for i in ser.values]

[66, 8, 55, 48, 5, 11, 14]

In [47]:
for i in ser.values:
    print(i)

66
8
55
48
5
11
14

In [48]:
ser.items

# Why does the output look like messy?

<bound method Series.items of 0    66
1     8
2    55
3    48
4     5
5    11
6    14
dtype: int32>

In [49]:
# Pandas Series.items() function iterates over the given series object. 
# The function iterates over the tuples containing the index labels and corresponding value in the Series.

ser.items()

In [50]:
list(ser.items())

[(0, 66), (1, 8), (2, 55), (3, 48), (4, 5), (5, 11), (6, 14)]

In [51]:
for index, value in ser.items():
    print(f"Index : {index}, Value : {value}")

Index : 0, Value : 66
Index : 1, Value : 8
Index : 2, Value : 55
Index : 3, Value : 48
Index : 4, Value : 5
Index : 5, Value : 11
Index : 6, Value : 14

In [52]:
ser = pd.Series(data=np.random.randint(0, 25, 10), index=[i for i in "cbaefdgihj"])

In [53]:
ser

c    13
b    15
a    22
e    13
f    24
d     3
g    14
i    24
h     0
j    17
dtype: int32

In [54]:
# pandas.Series.head() function returns the first n rows for the object based on position. 
# It is useful for quickly testing if your object has the right type of data in it.
# For negative values of n, this function returns all rows except the last n rows, equivalent to df[:-n].

ser.head(3)

c    13
b    15
a    22
dtype: int32

In [55]:
# pandas.Series.tail() function returns last n rows from the object based on position. 
# It is useful for quickly verifying data, for example, after sorting or appending rows.
# For negative values of n, this function returns all rows except the first n rows, equivalent to df[n:].

ser.tail(2)

h     0
j    17
dtype: int32

In [56]:
# pandas.Series.sample() function returns a random sample of items from an axis of object.

ser.sample(2)

j    17
a    22
dtype: int32

In [57]:
# pandas.Series.sort_index() function sorts Series by index labels. 
# It returns a new Series sorted by label if inplace argument is False, otherwise updates the original series and returns None.

ser.sort_index(ascending=True)

a    22
b    15
c    13
d     3
e    13
f    24
g    14
h     0
i    24
j    17
dtype: int32

In [58]:
# pandas.Series.sort_values() function sorts the values in a Series by index labels in ascending or descending order by some criterion.

ser.sort_values(ascending=False)

f    24
i    24
a    22
j    17
b    15
g    14
c    13
e    13
d     3
h     0
dtype: int32

In [59]:
ser

c    13
b    15
a    22
e    13
f    24
d     3
g    14
i    24
h     0
j    17
dtype: int32

In [60]:
# pandas.Series.isin() function searches whether elements in Series are contained in values.
# It returns a boolean Series showing if each element in the Series matches an element in the passed sequence of values exactly.

ser.isin([5, 9])

c    False
b    False
a    False
e    False
f    False
d    False
g    False
i    False
h    False
j    False
dtype: bool

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">Indexing and Slicing with Pandas Series</p>

<a id="4"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

As stated and implemented by examples above, **a Series is very similar to a NumPy array**. What differentiates the NumPy array from a Series is that **a Series can have axis labels**, meaning it can be indexed by a label, instead of just a number location. It also doesn’t need to hold numeric data, it can hold any arbitrary Python Object [Source](https://rpubs.com/pjozefek/659184).

**The key to using a Series is understanding its index**. Pandas makes use of these index names or numbers by allowing for fast look up of information.

The axis labeling information in pandas objects serves many purposes:

- Identifies data (i.e. provides metadata) using known indicators, important for analysis, visualization, and interactive console display.
- Enables automatic and explicit data alignment.
- Allows intuitive getting and setting of subsets of the data set.

In this section, we will focus on the final point: namely, how to slice, dice, and generally get and set subsets of pandas objects. The primary focus will be on Series and DataFrame as they have received more development attention in this area. For more information, please visit [pandas-docs.github.io](https://pandas-docs.github.io/pandas-docs-travis/user_guide/indexing.html)

Let's see some examples of how to grab information from a Series. Let us create two sereis, ser1 and ser2:

In [61]:
ser1 = pd.Series([1, 2, 3, 4], index = ['USA', 'Germany','RF', 'Japan'])
ser2 = pd.Series([1, 2, 5, 4, 6], index = ['USA', 'Germany','Italy', 'Japan', 'Spain'])

The two main data structures in Pandas, **Series** and **DataFrames**, both have at least one axis. A **Series** has **one axis**, the index. A **DataFrame** has **two axes**, the index and the columns. It’s useful to note here that in all the DataFrame functions that can be applied to either rows or columns, an axis of 0 refers to the index, an axis of 1 refers to the columns.

<img src=https://i.ibb.co/W6K98Mz/axis.png width="400" height="200">

In [62]:
ser1

USA        1
Germany    2
RF         3
Japan      4
dtype: int64

In [63]:
ser2

USA        1
Germany    2
Italy      5
Japan      4
Spain      6
dtype: int64

In [64]:
# Pandas Series.sort_index() function is used to sort the index labels of the given Series object.

ser1.sort_index()

Germany    2
Japan      4
RF         3
USA        1
dtype: int64

In [65]:
# Pandas Series.sort_values() function is used to sort the given series object in ascending or descending order by some criterion.

ser2.sort_values()

USA        1
Germany    2
Japan      4
Italy      5
Spain      6
dtype: int64

**We're going to start with the basic form of selecting, using the [ ] operator.**

If we don’t introduce labels into our Series, the index by default will be the natural numbers starting from 0. So the index will be the number of data introduced - 1.

In [66]:
# Let's remember our "ser1":

ser1

USA        1
Germany    2
RF         3
Japan      4
dtype: int64

In [67]:
ser1[3]  # This basic indexing returned the value of 4 at the index number 3.

4

In [68]:
ser1.index[3]  # However, index attribute returned the label at the index number 3, so we saw which label is at that index.

'Japan'

In [69]:
# Pandas index.get_loc() function returns integer location, slice or boolean mask for requested label that lets you filter DataFrames based on conditions. 

ser1.index.get_loc('Japan')

3

**Here we can see how "calling a label" works.**

In [70]:
ser1['Japan']

4

In [71]:
ser1.Japan

4

In [72]:
print("The value at the 'Japan' index label:", ser1['Japan'])

The value at the 'Japan' index label: 4

In [73]:
print("The value at the index number 3:", ser1[3])

The value at the index number 3: 4

In [74]:
# ser1[4]  # IndexError: index 4 is out of bounds for axis 0 with size 4

In [75]:
try:
    print("The value of the fourth element in the Series:", ser1[4])
except IndexError as error:
    print("Nope, the index you selected is out of bounds. That's not how you select rows (index) in a Series.")

Nope, the index you selected is out of bounds. That's not how you select rows (index) in a Series.

As seen above, with a Series, the call will return a single scalar value that matches the value at that label in the index. If you pass in a value for a label that doesn't exist, you will get a KeyError raised. Also, if you pass in an integer and your index has that value, it will return it. But if you don't have an integer value in your index, it will return the value by position. This is convenient, but can be confusing.

**Let's see some slicing example with Series**

In [76]:
ser2

USA        1
Germany    2
Italy      5
Japan      4
Spain      6
dtype: int64

In [77]:
ser2[0]

1

In [78]:
ser2[2:]

Italy    5
Japan    4
Spain    6
dtype: int64

In [79]:
ser2[::-1]

Spain      6
Japan      4
Italy      5
Germany    2
USA        1
dtype: int64

**Another huge pro of using labelled indexes is that you can perform operations between two different series and Pandas know what labels have both series in common and does the addition automatically.**

Operations are then also done based on index:

In [80]:
ser1 + ser2

Germany    4.0
Italy      NaN
Japan      8.0
RF         NaN
Spain      NaN
USA        2.0
dtype: float64

In [81]:
ser1 * ser2

Germany     4.0
Italy       NaN
Japan      16.0
RF          NaN
Spain       NaN
USA         1.0
dtype: float64

**Let's make changes on indexes:**

In [82]:
ser = pd.Series(data=[121, 200, 150, 99], index=["terry", "micheal", "orion", "jason"])
ser

terry      121
micheal    200
orion      150
jason       99
dtype: int64

In [83]:
ser.index

Index(['terry', 'micheal', 'orion', 'jason'], dtype='object')

In [84]:
ser['terry']

121

In [85]:
ser[0]

121

In [86]:
ser[[0, 2]]

terry    121
orion    150
dtype: int64

In [87]:
ser[["terry", "orion"]]

terry    121
orion    150
dtype: int64

In [88]:
ser[0:3]  # Be noted that when index number is used the last index number becomes EXCLUSIVE.

terry      121
micheal    200
orion      150
dtype: int64

In [89]:
ser['terry':'orion']  # Be noted that when label index is used the last label index becomes INCLUSIVE.

terry      121
micheal    200
orion      150
dtype: int64

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">Selection with Condition and Broadcasting</p>

<a id="5"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

Let us remember the term broadcasting which comes from numpy, simply put it refers to the ability of NumPy to treat arrays of different shapes during arithmetic operations. Arithmetic operations on arrays are usually done on corresponding elements. If two arrays are of exactly the same shape, then these operations are smoothly performed.

<img src=https://i.ibb.co/v1JknSL/broadcasting.png width="600" height="200">

**Selection with Condition**

In [90]:
ser

terry      121
micheal    200
orion      150
jason       99
dtype: int64

In [91]:
'terry' in ser

True

In [92]:
'bob' in ser

False

In [93]:
121 in ser.values

True

In [94]:
55 in ser.values

False

In [95]:
ser < 100

terry      False
micheal    False
orion      False
jason       True
dtype: bool

In [96]:
ser[ser < 100] = 100
ser

terry      121
micheal    200
orion      150
jason      100
dtype: int64

In [97]:
ser.isin([121])

# TypeError: only list-like objects are allowed to be passed to isin(), you passed a [int]

terry       True
micheal    False
orion      False
jason      False
dtype: bool

**Broadcasting**

In [98]:
ser[ser.isin([121])] = 125
ser

terry      125
micheal    200
orion      150
jason      100
dtype: int64

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">Recap for Several Selecting Attributes</p>

<a id="6"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

In [99]:
# Let us remember first our array of "ser"

ser

terry      125
micheal    200
orion      150
jason      100
dtype: int64

In [100]:
ser.keys()

Index(['terry', 'micheal', 'orion', 'jason'], dtype='object')

In [101]:
ser.index

Index(['terry', 'micheal', 'orion', 'jason'], dtype='object')

In [102]:
ser.values

array([125, 200, 150, 100], dtype=int64)

In [103]:
ser.items

<bound method Series.items of terry      125
micheal    200
orion      150
jason      100
dtype: int64>

In [104]:
ser.items()

In [105]:
list(ser.items())

[('terry', 125), ('micheal', 200), ('orion', 150), ('jason', 100)]

In [106]:
for index, value in ser.items():
    print(index, value)

terry 125
micheal 200
orion 150
jason 100

In [107]:
ser

terry      125
micheal    200
orion      150
jason      100
dtype: int64

In [108]:
ser.sort_index(ascending=False)

terry      125
orion      150
micheal    200
jason      100
dtype: int64

In [109]:
ser.sort_values(ascending=False)

micheal    200
orion      150
terry      125
jason      100
dtype: int64

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#9d4f8c; font-size:150%; text-align:center; border-radius:10px 10px;">The End of The Session - 03</p>

<a id="7"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

<p style="text-align: center;"><img src="https://i.ibb.co/99DQ3TY/DS-Courses.png" class="img-fluid" 
alt="CLRSWY"></p>

<a href="https://clarusway.com/"><img align="center" src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" alt="CLRSWY" title="Way to Reinvent Yourself"></a><br/>


## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#9d4f8c; font-size:120%; text-align:center; border-radius:10px 10px;">Way to Reinvent Yourself</p>
___