___

<a href="https://lms.clarusway.com/mod/lesson/view.php?id=8514&pageid=12768"><img align="center" src="https://i.ibb.co/6Z5pQxD/lmss.png" alt="Open in Clarusway LMS" width="70" height="200" title="Open Clarusway Learning Management Sytem"></a>

<a href="https://github.com/clarusway/DS-DE-0322-Students/blob/main/3-%20Classes%26Labs/2-DAwPY/DAwPy_S11_Part_01_(RegEx%20in%20Python).ipynb"><img align="left" src="https://i.ibb.co/n3HWyQX/github-logo.png" alt="Open in Clarusway GitHub" width="100" height="150" title="Open and Execute in Clarusway GitHub Repository"></a>

<a href="https://nbviewer.org/github/4dsolutions/clarusway_data_analysis/blob/main/DAwPy_S11_%28RegEx%2C%20Data%20Input%20_Output%29/DAwPy-S11-Part-01%20%28RegEx%20in%20Python%29.ipynb"><img align="right" src="https://i.ibb.co/48wtV8c/nbviewer-badge.png" alt="Open in nbviewer" width="130" height="200" title="Open and Execute in nbviewer"></a><br/>
___

<a href="https://clarusway.com/"><img align="center" src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" alt="CLRSWY" width="450" height="200" title="Welcome to Place Where You can Reinvent Yourself"></a><br/>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#9d4f8c; font-size:120%; text-align:center; border-radius:10px 10px;">Way to Reinvent Yourself</p>

<p style="text-align: center;"><img src="https://i.ibb.co/99DQ3TY/DS-Courses.png" class="img-fluid" 
alt="CLRSWY"></p>


<img src=https://i.ibb.co/6gCsHd6/1200px-Pandas-logo-svg.png width="700" height="200">

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:200%; text-align:center; border-radius:10px 10px;">Data Analysis with Python</p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:150%; text-align:center; border-radius:10px 10px;">Session - 11 (Part - 01)</p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#4d77cf; font-size:200%; text-align:center; border-radius:10px 10px;">RegEx in Python</p>

<img src=https://i.ibb.co/3YHkK1K/regex1.jpg width="900" height="200">

[Image Credit](https://medium.com/@rayykim/understanding-regex-101-204853651755)

Regular expressions (Regex or RegExp) are extremely useful in stepping up your algorithm game and will make you a better problem solver. The structure of regular expressions can be intimidating at first, but it is very rewarding once you grasp the patterns and implement them in your work properly.

<a id="toc"></a>

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Content</p>

* [IMPORTING LIBRARIES NEEDED IN THIS NOTEBOOK](#0)
* [RegEx in PYTHON](#1)
* [RAW STRING ("r/ R")](#2)
* [COMMON PYTHON RegEx FUNCTIONS](#3)    
* [PANDAS STRING FUNCTIONS ACCEPTING RegEx](#4)    
* [THE END OF THE SESSION - 07](#5)

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Importing Libraries Needed in This Notebook</p>

<a id="0"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

Once you've installed NumPy & Pandas you can import them as a library:

In [1]:
import numpy as np
import pandas as pd
import re

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">RegEx in Python</p>

<a id="1"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

**What is Regex and why is it important?**
A Regex, or regular expression, is a type of object that is used to help you extract information from any string data by searching through text to find what you need. Whether it’s numbers, letters, punctuation, or even white space, Regex allows you to check and match any character combination in strings.

You can utilize Regex to check for patterns in the text strings and use it to replace or validate another substring. Think of Regex as your own search bar — it gives you the freedom to define your own search criteria for a pattern that fits your needs and assists you in finding what you were looking for [Source](https://medium.com/@rayykim/understanding-regex-101-204853651755).

- A **Reg**ular **Ex**pression (RegEx) is a special sequence of characters that helps you match or find other strings or sets of strings, using a specialized syntax held in a pattern.

- The **Python module** **``re``** provides full support for regular expressions in Python [Source 01](https://docs.python.org/3/library/re.html#re-objects), [Source 02](https://www.tutorialspoint.com/python/python_reg_expressions.htm) & [Source 03](https://www.w3schools.com/python/python_regex.asp).


### Common Expressions

**``\d``** Any numeric digit from ``0`` to ``9``.
                           
**``\D``** Matches any character which is not a decimal digit. This is the opposite of ``\d``.
                           
**``\w``** Any letter, numeric digit, or the underscore character. (Think of this as matching "word" characters.)
                           
**``\W``** Any character that is not a letter, numeric digit, or the underscore character.
                           
**``\s``** Any space, tab, or newline character. (Think of this as matching white-space characters.)
                           
**``\S``** Any character that is not a space, tab, or newline.


### Common Metacharacters

**``"[]"``**	  A set of characters	``"[a-m]"``

**``"\"``**	      Signals a special sequence (can also be used to escape special characters)

**``"."``**	      Any character (except newline character)

**``"^"``**	      Starts with	``"^hello"``

**``"$"``**	      Ends with	``"world$"``

**``"*"``**	      Match zero, one or more of the previous

**``"+"``**	      Match one or more of the previous

**``"?"``**	      Match zero or one of the previous

**``"{}"``**	  Match exactly the specified number of occurrences

**``"|"``**	      Either or	`"falls|stays"`

**``"()"``**	  Capture and group

[The Power of Regular Expressions](https://www.hallme.com/blog/the-power-of-regular-expressions/)

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Raw String ("r / R")</p>

<a id="2"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

According to Python docs, raw string notation (r"text") keeps regular expressions meaningful and confusion-free. Without it, every backslash ('\') in a regular expression would have to be prefixed with another one to escape it.

- Python raw string is created by prefixing a string literal with **'r' or 'R'**.
- Python raw string treats **``backslash (\)``** as a literal character. This is useful when we want to have a string that contains backslash and don’t want it to be treated as an escape character [Source 01](https://blog.devgenius.io/beauty-of-raw-strings-in-python-fa627d674cbf) & [Source 02](https://stackoverflow.com/questions/26318287/what-does-r-mean-before-a-regex-pattern#:~:text=The%20r%20means%20that%20the,escape%20codes%20will%20be%20ignored.).

When one wants to match a literal backslash, it must be escaped in the regular expression. With raw string notation, this means r"\". Without raw string notation, one must use "\\", making the following lines of code functionally identical. 

The [Python docs 2.4.1. String literals](https://docs.python.org/2/reference/lexical_analysis.html#string-literals) say, **"The backslash (\\) character is used to escape characters that otherwise have a special meaning, such as newline, backslash itself, or the quote character."**

In [2]:
print("Backslash: \\")
print("New line char: \n")  
print("New line char: \\n")

Backslash: \
New line char:

New line char: \n

Note that the newline isn't visible in this example. To get a two-character string, we have to use another backslash character to escape the special meaning of the original backslash character:

From the python **[documentation on regex](https://docs.python.org/3/library/re.html)**, regarding the '\' character:

The solution is to use Python’s raw string notation for regular expression patterns; backslashes are not handled in any special way in a string literal prefixed with **``'r'``**. So r"\n" is a two-character string containing '\' and 'n', while "\n" is a one-character string containing a newline. Usually patterns will be expressed in Python code using this raw string notation.

[What exactly is a "raw string regex" and how can you use it?](https://stackoverflow.com/questions/12871066/what-exactly-is-a-raw-string-regex-and-how-can-you-use-it)

Let's turn to regular expressions. The [Python docs, 7.2. re — Regular expression operations](https://docs.python.org/2/library/re.html#module-re) says, **"Regular expressions use the backslash character ('\\') to indicate special forms or to allow special characters to be used without invoking their special meaning. This collides with Python’s usage of the same character for the same purpose in string literals..."**

In [3]:
print(r"Backslash: \\")
print(r"Backslash: \ ")
print(r"New line char: \\n")
print(r"New line char: \n")

Backslash: \\
Backslash: \
New line char: \\n
New line char: \n

**Let us clarify these explanations above with one more example:**

In [4]:
my_string = "Hello\nWorld"
print(my_string)

Hello
World

In [5]:
my_string = R"Hello\nWorld"  # prefix can be 'R' or 'r'
print(my_string)

Hello\nWorld

In [6]:
r'Hi\xHello'

'Hi\\xHello'

Don’t get confused with the output having two backslashes. It’s just to show it as a normal python string where backslash is being escaped.

## Invalid Raw String

When a backslash is followed by a quote in a raw string, it’s escaped. However, the backslash also remains in the result. Because of this feature, we can’t create a raw string of single backslash. Also, a raw string can’t have an odd number of backslashes at the end. Some of the invalid raw strings are [Source-01](https://www.digitalocean.com/community/tutorials/python-raw-string), [Source-02](https://www.codevscolor.com/python-raw-string):

In [7]:
# print("\") # gives an error

In [8]:
# print(r"\") # gives an error

print(r"\ ")
print(r"\"")

# missing end quote because the end quote is being escaped

\
\"

In [9]:
# print(r"abc\") # gives an error

# missing end quote because the end quote is being escaped

In [10]:
# print(r"abc\\\") # gives an error. You need to add one more backslash to the end of string

# The first two backslashes will escape each other, the third one will try to escape the end quote.

In [11]:
print(r"abc\\")

abc\\

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Common Python RegEx Functions</p>

<a id="3"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

- **[re.search()](https://docs.python.org/3/library/re.html):** Scan through string looking for a match to the pattern.
- **[re.match()](https://docs.python.org/3/library/re.html):** Try to apply the pattern at the start of the string.
- **[re.fullmatch()](https://docs.python.org/3/library/re.html):** Try to apply the pattern to all of the string.
- **[re.findall()](https://docs.python.org/3/library/re.html):** Return a list of all non-overlapping matches in the string.
- **[re.sub()](https://docs.python.org/3/library/re.html):** Return the string obtained by replacing the leftmost non-overlapping occurrences of the pattern in string by the replacement repl.
- **[re.split()](https://docs.python.org/3/library/re.html):** Split the source string by the occurrences of the pattern, returning a list containing the resulting substrings.

The Python **[dir()](https://docs.python.org/3/library/functions.html#dir)** function returns all properties and methods of the specified object, without the values. This function will return all the properties and methods, even built-in properties which are default for all object.

In [12]:
# dir(re) # shows all functions/methods in re module

The Python **[help()](https://www.tutorialsteacher.com/python/help-method#:~:text=The%20Python%20help()%20function,is%20printed%20on%20the%20console.)** function invokes the interactive built-in help system. If the argument is a string, then the string is treated as the name of a module, function, class, keyword, or documentation topic, and a help page is printed on the console.

In [13]:
# We can see docstring of related method with help function
# method = re.match
# help(method)  #OR
# help("re.match")

## ``re.search(pattern, string, flags=0)``

**[re.search()](https://docs.python.org/3/library/re.html)** scans through string looking for a match to the pattern, returning a Match object, or None if no match was found [Source](https://www.pythontutorial.net/python-regex/python-regex-flags/). In other words Python regex **``re.search()``** method looks for occurrences of the regex pattern inside the entire target string and returns the corresponding Match Object instance where the match found. The **``re.search()``** returns only **the first match** to the pattern from the target string [Source](https://pynative.com/python-regex-search/).

### Find numeric digits with search() function

In [14]:
text = "A78L41K78"

In [15]:
re.search("78", text)

⚠️ REMEMBER ⚠️ from our previous sessions Pandas **``str.find()``** which is used to search a substring in each string present in a Series and **``contains()``** methods which allows you to search a column for a specific substring.

### with regular expressions

In [16]:
re.search("\d\d", text)

### with compile() method

Python's **``re.compile()``** method is used to compile a regular expression pattern provided as a string into **a regex pattern object** ( re.Pattern ). Later you can use this pattern object to search for a match inside different target strings using regex methods such as a re.match() or re.search(). In simple terms, you can compile a regular expression into a regex object to look for occurrences of the same pattern inside various target strings without rewriting it. [Source](https://pynative.com/python-regex-compile/)

A Match Object is an object containing information about the search and the result.<br>
⚠️ **``Note:``** ⚠️ If there is no match, the value None will be returned, instead of the Match Object.

In [17]:
comp = re.compile("\d\d")

We created a **``re.MatchObject``** and  store it in  match_object variable named "comp", '()' parenthesis are used to define a specific group which is two digits at hand.

**``d``** in above pattern stands for numerical character which are two digits at hand and this pattern is used to match a consecutive set of characters satisfying a given condition so **``"\d\d"``** will match a consecutive set of numerical characters.

In [18]:
# Let us search this pattern with re.search() method:

comp.search(text)

In [19]:
# We created another re.Match Object named "num"

num = comp.search(text)
num

**[re.MatchObject.start()](https://www.geeksforgeeks.org/python-regex-re-matchobject-start-and-re-matchobject-end-functions/)** method returns the first index of the substring matched by group.

In [20]:
num.start()

1

**[re.MatchObject.end()](https://www.geeksforgeeks.org/python-regex-re-matchobject-start-and-re-matchobject-end-functions/)** method returns the last index of the substring matched by group.

In [21]:
num.end()

3

**[re.MatchObject.span()](https://www.geeksforgeeks.org/re-matchobject-span-method-in-python-regex/)** method returns a tuple containing starting and ending index of the matched string. If group did not contribute to the match it returns(-1,-1).

In [22]:
num.span()

(1, 3)

**[re.MatchObject.group()](https://www.geeksforgeeks.org/re-matchobject-group-function-in-python-regex/)** method returns the complete matched subgroup by default or a tuple of matched subgroups depending on the number of arguments.

In [23]:
num.group()

'78'

In [24]:
print(num.group())

78

### Find non decimal digits with re.search() function

In [25]:
text = "8PM19MIN"

In [26]:
# We created another re.Match Object named "nondeci"
nondeci = re.search("\D", text)

nondeci.group()
# returns the complete matched subgroup depending on the number of arguments.
# The "\D" indicates that we are searching for ONE non-decimal character in the given string, "text".

'P'

In [27]:
# We created another re.Match Object named "nondeci"
nondeci = re.search("\D\D", text)

nondeci.group()
# The "\D\D" indicates that we are searching for two non-decimal characters in the given string, "text".

'PM'

In [28]:
# We created another re.Match Object named "nondeci"
nondeci = re.search("\D+", text)

nondeci.group()
# The "\D" indicates that we are searching for non-decimal characters in the given string, "text" and
# the "+" indicates that we are searching for consecutive non-decimal characters in the given string.

'PM'

### Find phone number pattern

In [29]:
text = 'My phone number is 1234567890'

In [30]:
# We created another re.Match Object named "telno"
telno = re.search("\d\d\d\d\d\d\d\d\d\d", text)

telno.group()
# the "\d\d\d\d\d\d\d\d\d\d" indicates that we are searching for TEN continuous (consecutive) numeric characters in the given string.

'1234567890'

In [31]:
# We created another re.Match Object named "telno"

telno = re.search("\d+", text)

telno.group()
# The "\d" indicates that we are searching for a numeric character and
# the "+" indicates that we are searching for continuous (consecutive) numeric characters in the given string.

'1234567890'

In [32]:
# We created another re.Match Object named "telno"
telno = re.search("\d*", text)

telno.group()
# The "\d" indicates that we are searching for a numeric character and
# the "*" operator matches zero, one or more of the previous
# The string, "text" in our case, is checked for a match from left-to-right. 
# Since the first character is a non-digit, \d* matches an empty string and returns zero of the previous.

''

**``"*"``** operator repeats the smallest possible preceding regular expression as many times as necessary (including zero) to match the pattern.

[Why does String.match( / \d*/ ) return an empty string?](https://stackoverflow.com/questions/30360439/why-does-string-match-d-return-an-empty-string)

In [33]:
text = 'My phone number is 123 456 7890'

In [34]:
# We created another re.Match Object named "telno"
telno = re.search("\d\d\d \d\d\d \d\d\d\d", text)

telno.group()
# the "\d\d\d \d\d\d \d\d\d\d" indicates that we are searching for TEN numeric characters including some spaces in the given string.

'123 456 7890'

In [35]:
text = 'My phone number is 123-456-7890'

In [36]:
# We created another re.Match Object named "telno"
telno = re.search("\d\d\d-\d\d\d-\d\d\d\d",text)

telno.group()
# the "\d\d\d-\d\d\d-\d\d\d\d" indicates that we are searching for TEN numeric characters including some "-" symbols in the given string.

'123-456-7890'

In [37]:
# We created another re.Match Object named "telno"
telno = re.search('\d'*3 + '-' + '\d'*3 + '-' + '\d'*4, text)

telno.group(0)
# We are searching in the given string for exactly THREE numeric,  ONE "-" symbol, THREE numeric,  ONE "-" symbol, and FOUR numeric, respectively.

'123-456-7890'

### Find phone number pattern by grouping

In [38]:
# We created another re.Match Object named "telno"
telno = re.search("(\d\d\d)-(\d\d\d)-(\d\d\d\d)", text)

telno.group() # try 1, 2, 3 for group

'123-456-7890'

**``re.MatchObject.group()``** method returns the complete matched subgroup by default or a tuple of matched subgroups depending on the number of arguments.

In [39]:
# We created another re.Match Object named "telno"
telno = re.search("(\d*)-(\d*)-(\d*)", text)

telno.group()
# We are searching in the given string for THREE subgroups including zero and more than zero numeric characters interconnected by "-" symbol

'123-456-7890'

In [40]:
# We created another re.Match Object named "telno"
telno = re.search("(\d+)-(\d+)-(\d+)", text)

telno.group()
# We are searching in the given string for THREE subgroups including one and more than one numeric characters interconnected by "-" symbol

'123-456-7890'

### Escaping parentheses and creating 2 groups -> the first group: (415) the second group: (555-1212)

In [41]:
text = 'My phone number is (415) 555-1212'

In [42]:
# We created another re.Match Object named "telno"
telno = re.search("(\(\d\d\d\)) (\d\d\d-\d\d\d\d)", text)

print(telno.group(1))
print(telno.group(2))

# We wanted to see the first and second subgroups in the given string but the characters in the first subgroup should be inside the pranthesis

(415)
555-1212

## ``re.match(pattern, string, flags=0)``

**[re.match()](https://docs.python.org/3/library/re.html)** method tries to apply the pattern **at the start of the string**, returning a Match object, or None if no match was found.

If you want to locate a match anywhere in string, use search() instead of match()

In [43]:
text = "A78L41K"

In [44]:
# num = re.match("\d\d", text) # gives an error, because match function just look at the begining of string 
# num.group()

In [45]:
alp = re.match("\D\d\d", text)
alp.group()

'A78'

🔥 **``search()``** vs. **``match()``** 🔥

Python offers two different primitive operations based on regular expressions: **``re.match()``** checks for a match **only at the beginning** of the string, while **``re.search()``** checks for **a match anywhere** in the string (this is what Perl does by default).

## ``re.fullmatch(pattern, string, flags=0)``

**[re.fullmatch()](https://docs.python.org/3/library/re.html)** method tries to apply the pattern to all of the string. It returns a match object if and **only if the entire string matches the pattern**. Otherwise, it will return None.

In [46]:
text = "A78L41K"

In [47]:
alpnum = re.fullmatch("\D\d+\D\d+\D", text)
alpnum.group()

'A78L41K'

In [48]:
alpnum = re.fullmatch("\w\d+\w\d+\w", text)
alpnum.group()

'A78L41K'

In [49]:
string = "Clarusway is one of the best IT bootcamps in the world"
pattern = "Clarusway"
  
print(re.match(pattern, string))
print(re.fullmatch(pattern, string))

<re.Match object; span=(0, 9), match='Clarusway'>
None

🔥 **Difference Between** **``re.match()``** **&** **``re.fullmatch()``** 🔥

**``re.fullmatch()``** and **``re.match()``** both are functions of re module in Python. These functions are very efficient and fast for searching in strings. **Both functions** attempt to match **at the beginning of the string**.  But the difference between **``re.match()``** and **``re.fullmatch()``** is that **``re.match()``** matches **only at the beginning** but **``re.fullmatch()``** tries to match **at the end as well** [Source](https://www.geeksforgeeks.org/re-fullmatch-function-in-python/). In other words, the **``fullmatch()``** function returns a Match object if the **whole string matches the search pattern of a regular expression**, or None otherwise [Source](https://www.pythontutorial.net/python-regex/python-regex-fullmatch/).

## ``re.findall(pattern, string, flags=0)``

**[re.findall()](https://docs.python.org/3/library/re.html)** is **probably the single most powerful function in the re module**. **``re.findall()``** function scans string from left to right, searching for all non-overlapping matches of the pattern in the string. The function returns all the findings as a list. [Source-01](https://www.pythontutorial.net/python-regex/python-regex-findall/), [Source-02](https://blog.finxter.com/python-re-findall/), [Source-03](https://pythonexamples.org/python-re-findall/), and [Source-04](https://developers.google.com/edu/python/regular-expressions)

[Difference between re.search() & re.findall()](https://www.tutorialspoint.com/what-is-the-difference-between-re-search-and-re-findall-methods-in-python-regular-expressions#:~:text=Here%20you%20can%20see%20that,end%20of%20the%20given%20string.)

Thw **``re.search()``** method is able to find a pattern from any position of the string.

The **``re.findall()``** helps to get a list of all matching patterns. It searches from start or end of the given string. If you use findall() method to search for a pattern in a given string it will return all occurrences of the pattern. While searching a pattern, it is recommended to use re.findall() always, it works like re.search() and re.match() both.

### Extract numbers from text as a list

In [50]:
text = "O 1, t 10, o 100. 100000"

In [51]:
re.findall("\d{1}", text)

['1', '1', '0', '1', '0', '0', '1', '0', '0', '0', '0', '0']

In [52]:
re.findall("\d{2}", text)

['10', '10', '10', '00', '00']

In [53]:
re.findall("\d{3}", text)

['100', '100', '000']

In [54]:
re.findall("\d{4}", text)

['1000']

In [55]:
re.findall("\d{1,6}", text)

['1', '10', '100', '100000']

In [56]:
re.findall("\d+", text)

['1', '10', '100', '100000']

### Extract words begining with "f"

In [57]:
text = 'which f foot or hand fell fastest'

In [58]:
re.findall("f[a-z]*", text)

# It scanned the "text" from left to right, searching for getting a list of all matching patterns ("f[a-z]*") in the string.
# Our pattern of "f[a-z]*" includes all characters matching 'a' to 'z' beginning with "f" and 
# "*" operator tries to match the pattern ([a-z]) which can be found 0 or more times with the preceding character ("f").

['f', 'foot', 'fell', 'fastest']

### Extract equations made up of words and numbers

In [59]:
text = 'set width=20 and height=10'

In [60]:
re.findall('\w+=\d+', text)

# It scanned the "text" from left to right, searching for getting a list of all matching patterns ('\w+=\d+') in the string.

['width=20', 'height=10']

In [61]:
re.findall('(\w+)=(\d+)', text)

# It scanned the "text" from left to right, searching for getting a list of all matching patterns ('(\w+)=(\d+)') in the string.

[('width', '20'), ('height', '10')]

### Check if the string starts with 'hello'

In [62]:
text = "Clarusway is one of the best IT bootcamps in the world"

In [63]:
print(re.findall("^Clarusway", text))
print(re.findall("bootcamps", text))

# It scanned the string from left to right, searching for getting a list of all matching patterns in the string.

['Clarusway']
['bootcamps']

In [64]:
print(re.match("^Clarusway", text).group())
print(re.match("Clarusway", text).group())

# re.match() method tries to apply the pattern at the start of the string, returning a Match object

Clarusway
Clarusway

In [65]:
print(re.search("^Clarusway", text).group())
print(re.search("Clarusway", text).group())

# re.search() method scanned through the "text" looking for a match to the pattern, "Clarusway"

Clarusway
Clarusway

### Check if the string ends with 'world'

In [66]:
re.findall("world$", text)

# It scanned the string from left to right, searching for getting a list of all matching patterns ("world$") in the string.
# However, the Dollar ($) sign indicates here that the string ("text") must end with that regex pattern ("world").

['world']

## ``re.sub(pattern, repl, string, count=0, flags=0)``

[**re.sub**](https://docs.python.org/3/library/re.html) method returns the string obtained by **replacing the leftmost non-overlapping occurrences of the pattern in string by the replacement (repl)**.  repl attribute can be either a string or a callable; if a string, backslash escapes in it are processed.  If it is a callable, it's passed the Match object and must return a replacement string to be used.

### Remove anything other than digits

In [67]:
text = "2004-959-559 # This is Phone Number"

In [68]:
re.sub("\D", "", text)

# It returns a string where all matching occurrences of the specified pattern (non-decimal characters) are replaced by the replace string ("").

'2004959559'

### Remove digits and replace with "."

In [69]:
re.sub("\d", ".", text)

# It replaced the pattern (any numeric digit from 0 to 9) with "."

'....-...-... # This is Phone Number'

In [70]:
re.sub("\d", ".", text, count=4)

# It replaced the pattern (any numeric digit occurring four times at the beginning) with "."

'....-959-559 # This is Phone Number'

In [71]:
pd.Series(text).str.replace("\d", ".", regex=True)

# str.replace() method does the same thing

0    ....-...-... # This is Phone Number
dtype: object

⚠️ Note ⚠️ that although **``str.replace()``** method has **count** parameter, it does NOT limit the number of replacements, it simply allows you to see how many replacements were made.

## ``re.split(pattern, string, maxsplit=0, flags=0)``

**[re.split()](https://docs.python.org/3/library/re.html#re.split)** method splits the source string by the occurrences of the pattern, returning a list containing the resulting substrings. If capturing parentheses are used in pattern, then the text of all groups in the pattern are also returned as part of the resulting list. If maxsplit is nonzero, at most maxsplit splits occur, and the remainder of the string is returned as the final element of the list.

[Python Regex Split String Using re.split()](https://pynative.com/python-regex-split/)<br>

In [72]:
text = "ab56cd78_de fg3hıi49"

In [73]:
re.split("\D+", text)

# Here, the re.split() function splitted the given string ("text) with the pattern ("\D+"). 
# The output is a list of strings that have been splitted at points where they came across "\D+"

['', '56', '78', '3', '49']

In [74]:
re.split("\D+", text, maxsplit=2)

# Since maxsplit is defined 2 here, maxsplit splits occur 2 times,
# and the remainder of the string is returned as the final element of the list.

['', '56', '78_de fg3hıi49']

In [75]:
re.findall("\d+", text)

# As you remember above, findall() method is used to search for “all” occurrences that match a given pattern. 
# In contrast, search() module will only return the first occurrence that matches the specified pattern. 
# Here, findall() scanned the "text" left-to-right and returned all non-overlapping matches of pattern in the order found.

['56', '78', '3', '49']

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Pandas String Functions Accepting RegEx</p>

<a id="4"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

- **[str.count()](https://pandas.pydata.org/docs/reference/api/pandas.Series.str.count.html):** Count occurrences of pattern in each string of the Series/Index
- **[str.replace()](https://pandas.pydata.org/docs/reference/api/pandas.Series.replace.html):** Replace the search string or pattern with the given value
- **[str.contains()](https://pandas.pydata.org/docs/reference/api/pandas.Series.str.contains.html):** Test if pattern or regex is contained within a string of a Series or Index. Calls re.search() and returns a boolean
- **[str.findall()](https://pandas.pydata.org/docs/reference/api/pandas.Series.str.findall.html):** Find all occurrences of pattern or regular expression in the Series/Index. Equivalent to applying re.findall() on all elements
- **[str.match()](https://pandas.pydata.org/docs/reference/api/pandas.Series.str.match.html):** Determine if each string matches a regular expression. Calls re.match() and returns a boolean
- **[str.split()](https://pandas.pydata.org/docs/reference/api/pandas.Series.str.split.html):** Split strings around given separator/delimiter and accepts string or regular expression to split on
- **[str.extract()](https://pandas.pydata.org/docs/reference/api/pandas.Series.str.extract.html):** Extract capture groups in the regex pat as columns in a DataFrame and returns the captured groups

In [76]:
data = [['Evert van Dijk', 'Carmine-pink, salmon-pink streaks, stripes, flecks. #94569# Warm pink, clear carmine pink, rose pink shaded salmon.  Mild fragrance.  Large, very double, in small clusters, high-centered bloom form.  Blooms in flushes throughout the season.'],
        ['Every Good Gift', 'Red.  Flowers velvety red.  #079463895689# Moderate fragrance.  Average diameter 4".  Medium-large, full (26-40 petals), borne mostly solitary bloom form.  Blooms in flushes throughout the season.'], 
        ['Evghenya', 'Orange-pink.  75 petals.  Large, very double #68345_686# bloom form.  Blooms in flushes throughout the season.'], 
        ['Evita', 'White or white blend.  None to mild fragrance.  35 petals #9897#.  Large, full (26-40 petals), high-centered bloom form.  Blooms in flushes throughout the season.'],
        ['Evrathin', 'Light pink. [Deep pink.]  Outer petals white. Expand rarely #679754YH89#.  Mild fragrance.  35 to 40 petals.  Average diameter 2.5".  Medium, double (17-25 petals), full (26-40 petals), cluster-flowered, in small clusters bloom form.  Prolific, once-blooming spring or summer.  Glandular sepals, leafy sepals, long sepals buds.'],
        ['Evita 2', 'White, blush shading.  Mild, wild rose fragrance #AGHJS876IOP#.  20 to 25 petals.  Average diameter 1.25".  Small, very double, cluster-flowered bloom form.  Blooms in flushes throughout the season.']]
  
df = pd.DataFrame(data, columns = ['name', 'bloom']) 
df

              name                                              bloom
0   Evert van Dijk  Carmine-pink, salmon-pink streaks, stripes, fl...
1  Every Good Gift  Red.  Flowers velvety red.  #079463895689# Mod...
2         Evghenya  Orange-pink.  75 petals.  Large, very double #...
3            Evita  White or white blend.  None to mild fragrance....
4         Evrathin  Light pink. [Deep pink.]  Outer petals white. ...
5          Evita 2  White, blush shading.  Mild, wild rose fragran...

## [``pandas.Series.str.count(pat, flags=0)``](https://pandas.pydata.org/docs/reference/api/pandas.Series.str.count.html)

Count occurrences of pattern in each string of the Series/Index.

This function is used to **count the number of times a particular regex pattern** is repeated in each of the string elements of the Series.

In [77]:
pd.options.display.max_colwidth = 400

df[["bloom"]]

                                                                                                                                                                                                                                                                                                                                     bloom
0                                                                                         Carmine-pink, salmon-pink streaks, stripes, flecks. #94569# Warm pink, clear carmine pink, rose pink shaded salmon.  Mild fragrance.  Large, very double, in small clusters, high-centered bloom form.  Blooms in flushes throughout the season.
1                                                                                                                                     Red.  Flowers velvety red.  #079463895689# Moderate fragrance.  Average diameter 4".  Medium-large, full (26-40 petals), borne mostly solitary bloom form.  Blooms in flushes throughout the season.
2                                                                                                                                                                                                                           Orange-pink.  75 petals.  Large, very double #68345_686# bloom form.  Blooms in flushes throughout the season.
3                                                                                                                                                                       White or white blend.  None to mild fragrance.  35 petals #9897#.  Large, full (26-40 petals), high-centered bloom form.  Blooms in flushes throughout the season.
4  Light pink. [Deep pink.]  Outer petals white. Expand rarely #679754YH89#.  Mild fragrance.  35 to 40 petals.  Average diameter 2.5".  Medium, double (17-25 petals), full (26-40 petals), cluster-flowered, in small clusters bloom form.  Prolific, once-blooming spring or summer.  Glandular sepals, leafy sepals, long sepals buds.
5                                                                                                                                   White, blush shading.  Mild, wild rose fragrance #AGHJS876IOP#.  20 to 25 petals.  Average diameter 1.25".  Small, very double, cluster-flowered bloom form.  Blooms in flushes throughout the season.

#### How many numerical values are there in each row of "bloom" feature?

In [78]:
df.bloom.str.count("\d+")

0     1
1     4
2     3
3     4
4    10
5     5
Name: bloom, dtype: int64

In [79]:
# Let's check the number of numerical values in the first 2 rows:

display(df.bloom[0])
display(df.bloom[1])

'Carmine-pink, salmon-pink streaks, stripes, flecks. #94569# Warm pink, clear carmine pink, rose pink shaded salmon.  Mild fragrance.  Large, very double, in small clusters, high-centered bloom form.  Blooms in flushes throughout the season.'

'Red.  Flowers velvety red.  #079463895689# Moderate fragrance.  Average diameter 4".  Medium-large, full (26-40 petals), borne mostly solitary bloom form.  Blooms in flushes throughout the season.'

#### How many characters are there in each row of "bloom" feature?

In [80]:
df.bloom.apply(len)

0    240
1    196
2    110
3    162
4    327
5    198
Name: bloom, dtype: int64

In [ ]:
df.bloom.apply(lambda x : re.findall("\n", x))

In [81]:
df.bloom.str.count(".")

# the dot (.) is a special character used to match any one character. 
# So str.count() matched any single chracter in each row of the "bloom" and gave the total number of these characters

0    240
1    196
2    110
3    162
4    327
5    198
Name: bloom, dtype: int64

#### How many sentences are there in each row of "bloom" feature?

In [82]:
df.bloom.str.count("\.")

0     5
1     6
2     4
3     5
4    11
5     7
Name: bloom, dtype: int64

## [``pandas.Series.str.replace(pat, repl, n=- 1, case=None, flags=0, regex=None)``](https://pandas.pydata.org/docs/reference/api/pandas.Series.replace.html)

Replace each occurrence of pattern/regex in the Series/Index.

Equivalent to str.replace() or re.sub(), depending on the regex value.

#### Replace the values between the two "#" characters (including "#" characters) in each row of "bloom" feature with non-space ("")

In [83]:
df.bloom[5]

'White, blush shading.  Mild, wild rose fragrance #AGHJS876IOP#.  20 to 25 petals.  Average diameter 1.25".  Small, very double, cluster-flowered bloom form.  Blooms in flushes throughout the season.'

In [84]:
df["bloom"] = df.bloom.str.replace("#\S+#", "", regex = True)

In [85]:
df.bloom[5]

'White, blush shading.  Mild, wild rose fragrance .  20 to 25 petals.  Average diameter 1.25".  Small, very double, cluster-flowered bloom form.  Blooms in flushes throughout the season.'

## [``pandas.Series.str.contains(pat, case=True, flags=0, na=None, regex=True)``](https://pandas.pydata.org/docs/reference/api/pandas.Series.str.contains.html)

Test if pattern or regex is contained within a string of a Series or Index.

Return boolean Series or Index based on whether a given pattern or regex is contained within a string of a Series or Index.

#### Which rows in "bloom" feature includes "diameter" value?

In [86]:
df.bloom.str.contains("diameter")

0    False
1     True
2    False
3    False
4     True
5     True
Name: bloom, dtype: bool

In [87]:
df.bloom[1]

# We checked the obervation at the index number 1 if it has the word of "diameter"

'Red.  Flowers velvety red.   Moderate fragrance.  Average diameter 4".  Medium-large, full (26-40 petals), borne mostly solitary bloom form.  Blooms in flushes throughout the season.'

In [88]:
df.bloom.str.contains('\d+"')

0    False
1     True
2    False
3    False
4     True
5     True
Name: bloom, dtype: bool

In [89]:
df[df.bloom.str.contains('\d+"')]

,name,bloom
1,Every Good Gift,"Red. Flowers velvety red. Moderate fragrance. Average diameter 4"". Medium-large, full (26-40 petals), borne mostly solitary bloom form. Blooms in flushes throughout the season."
4,Evrathin,"Light pink. [Deep pink.] Outer petals white. Expand rarely . Mild fragrance. 35 to 40 petals. Average diameter 2.5"". Medium, double (17-25 petals), full (26-40 petals), cluster-flowered, in small clusters bloom form. Prolific, once-blooming spring or summer. Glandular sepals, leafy sepals, long sepals buds."
5,Evita 2,"White, blush shading. Mild, wild rose fragrance . 20 to 25 petals. Average diameter 1.25"". Small, very double, cluster-flowered bloom form. Blooms in flushes throughout the season."

## [``pandas.Series.str.findall(pat, flags=0)``](https://pandas.pydata.org/docs/reference/api/pandas.Series.str.findall.html)

Find all occurrences of pattern or regular expression in the Series/Index.

Equivalent to applying re.findall() to all the elements in the Series/Index.

#### Find all numeric values in each rows of the "bloom" feature

In [90]:
df.bloom.str.findall("\d+")

# As you remember above, findall() method is used to search for “all” occurrences that match a given pattern. 
# Here, findall() scanned each row in the "bloom" left-to-right and returned all non-overlapping matches of pattern in the order found.

0                                []
1                       [4, 26, 40]
2                              [75]
3                      [35, 26, 40]
4    [35, 40, 2, 5, 17, 25, 26, 40]
5                   [20, 25, 1, 25]
Name: bloom, dtype: object

In [91]:
df.bloom[4]

# However, we realized that the RegEx pattern we created missed the diameter values represented by floating points.
# So we reorganize our RegEx pat to match diameter values in the following question

'Light pink. [Deep pink.]  Outer petals white. Expand rarely .  Mild fragrance.  35 to 40 petals.  Average diameter 2.5".  Medium, double (17-25 petals), full (26-40 petals), cluster-flowered, in small clusters bloom form.  Prolific, once-blooming spring or summer.  Glandular sepals, leafy sepals, long sepals buds.'

#### Find diameter values in each rows of the "bloom" feature

In [92]:
df.bloom.str.findall('\d+\.\d+"|\d+"')

# We redesigned our RegEx pat to catch diameter values

0         []
1       [4"]
2         []
3         []
4     [2.5"]
5    [1.25"]
Name: bloom, dtype: object

## [``pandas.Series.str.match(pat, case=True, flags=0, na=None)``](https://pandas.pydata.org/docs/reference/api/pandas.Series.str.match.html)

Determine if each string starts with a match of a regular expression.

#### Find the rows including "pink" in the "bloom" (this information is available in the first words of the rows)

In [93]:
df[["bloom"]]

                                                                                                                                                                                                                                                                                                                         bloom
0                                                                                    Carmine-pink, salmon-pink streaks, stripes, flecks.  Warm pink, clear carmine pink, rose pink shaded salmon.  Mild fragrance.  Large, very double, in small clusters, high-centered bloom form.  Blooms in flushes throughout the season.
1                                                                                                                                       Red.  Flowers velvety red.   Moderate fragrance.  Average diameter 4".  Medium-large, full (26-40 petals), borne mostly solitary bloom form.  Blooms in flushes throughout the season.
2                                                                                                                                                                                                                          Orange-pink.  75 petals.  Large, very double  bloom form.  Blooms in flushes throughout the season.
3                                                                                                                                                                 White or white blend.  None to mild fragrance.  35 petals .  Large, full (26-40 petals), high-centered bloom form.  Blooms in flushes throughout the season.
4  Light pink. [Deep pink.]  Outer petals white. Expand rarely .  Mild fragrance.  35 to 40 petals.  Average diameter 2.5".  Medium, double (17-25 petals), full (26-40 petals), cluster-flowered, in small clusters bloom form.  Prolific, once-blooming spring or summer.  Glandular sepals, leafy sepals, long sepals buds.
5                                                                                                                                    White, blush shading.  Mild, wild rose fragrance .  20 to 25 petals.  Average diameter 1.25".  Small, very double, cluster-flowered bloom form.  Blooms in flushes throughout the season.

In [94]:
df.bloom.str.match("pink|\w+-pink|\w+ pink")

0     True
1    False
2     True
3    False
4     True
5    False
Name: bloom, dtype: bool

In [95]:
df[df.bloom.str.match("pink|\w+-pink|\w+ pink")]

,name,bloom
0,Evert van Dijk,"Carmine-pink, salmon-pink streaks, stripes, flecks. Warm pink, clear carmine pink, rose pink shaded salmon. Mild fragrance. Large, very double, in small clusters, high-centered bloom form. Blooms in flushes throughout the season."
2,Evghenya,"Orange-pink. 75 petals. Large, very double bloom form. Blooms in flushes throughout the season."
4,Evrathin,"Light pink. [Deep pink.] Outer petals white. Expand rarely . Mild fragrance. 35 to 40 petals. Average diameter 2.5"". Medium, double (17-25 petals), full (26-40 petals), cluster-flowered, in small clusters bloom form. Prolific, once-blooming spring or summer. Glandular sepals, leafy sepals, long sepals buds."

In [96]:
df[df.bloom.str.match("pink|\w+[- ]?pink")]

,name,bloom
0,Evert van Dijk,"Carmine-pink, salmon-pink streaks, stripes, flecks. Warm pink, clear carmine pink, rose pink shaded salmon. Mild fragrance. Large, very double, in small clusters, high-centered bloom form. Blooms in flushes throughout the season."
2,Evghenya,"Orange-pink. 75 petals. Large, very double bloom form. Blooms in flushes throughout the season."
4,Evrathin,"Light pink. [Deep pink.] Outer petals white. Expand rarely . Mild fragrance. 35 to 40 petals. Average diameter 2.5"". Medium, double (17-25 petals), full (26-40 petals), cluster-flowered, in small clusters bloom form. Prolific, once-blooming spring or summer. Glandular sepals, leafy sepals, long sepals buds."

In [97]:
df[df.bloom.str.match("pink|.+pink")]

,name,bloom
0,Evert van Dijk,"Carmine-pink, salmon-pink streaks, stripes, flecks. Warm pink, clear carmine pink, rose pink shaded salmon. Mild fragrance. Large, very double, in small clusters, high-centered bloom form. Blooms in flushes throughout the season."
2,Evghenya,"Orange-pink. 75 petals. Large, very double bloom form. Blooms in flushes throughout the season."
4,Evrathin,"Light pink. [Deep pink.] Outer petals white. Expand rarely . Mild fragrance. 35 to 40 petals. Average diameter 2.5"". Medium, double (17-25 petals), full (26-40 petals), cluster-flowered, in small clusters bloom form. Prolific, once-blooming spring or summer. Glandular sepals, leafy sepals, long sepals buds."

## [``pandas.Series.str.split(pat=None, n=- 1, expand=False, *, regex=None)``](https://pandas.pydata.org/docs/reference/api/pandas.Series.str.split.html)

Split strings around given separator/delimiter.

Splits the string in the Series/Index from the beginning, at the specified delimiter string.

#### Split each rows of "bloom" feature from the dot character as sentences

In [98]:
df[["bloom"]]

                                                                                                                                                                                                                                                                                                                         bloom
0                                                                                    Carmine-pink, salmon-pink streaks, stripes, flecks.  Warm pink, clear carmine pink, rose pink shaded salmon.  Mild fragrance.  Large, very double, in small clusters, high-centered bloom form.  Blooms in flushes throughout the season.
1                                                                                                                                       Red.  Flowers velvety red.   Moderate fragrance.  Average diameter 4".  Medium-large, full (26-40 petals), borne mostly solitary bloom form.  Blooms in flushes throughout the season.
2                                                                                                                                                                                                                          Orange-pink.  75 petals.  Large, very double  bloom form.  Blooms in flushes throughout the season.
3                                                                                                                                                                 White or white blend.  None to mild fragrance.  35 petals .  Large, full (26-40 petals), high-centered bloom form.  Blooms in flushes throughout the season.
4  Light pink. [Deep pink.]  Outer petals white. Expand rarely .  Mild fragrance.  35 to 40 petals.  Average diameter 2.5".  Medium, double (17-25 petals), full (26-40 petals), cluster-flowered, in small clusters bloom form.  Prolific, once-blooming spring or summer.  Glandular sepals, leafy sepals, long sepals buds.
5                                                                                                                                    White, blush shading.  Mild, wild rose fragrance .  20 to 25 petals.  Average diameter 1.25".  Small, very double, cluster-flowered bloom form.  Blooms in flushes throughout the season.

In [99]:
df.bloom.str.split("\. ")

0                                                                                      [Carmine-pink, salmon-pink streaks, stripes, flecks,  Warm pink, clear carmine pink, rose pink shaded salmon,  Mild fragrance,  Large, very double, in small clusters, high-centered bloom form,  Blooms in flushes throughout the season.]
1                                                                                                                                         [Red,  Flowers velvety red,   Moderate fragrance,  Average diameter 4",  Medium-large, full (26-40 petals), borne mostly solitary bloom form,  Blooms in flushes throughout the season.]
2                                                                                                                                                                                                                            [Orange-pink,  75 petals,  Large, very double  bloom form,  Blooms in flushes throughout the season.]
3                                                                                                                                                                   [White or white blend,  None to mild fragrance,  35 petals ,  Large, full (26-40 petals), high-centered bloom form,  Blooms in flushes throughout the season.]
4    [Light pink, [Deep pink.]  Outer petals white, Expand rarely ,  Mild fragrance,  35 to 40 petals,  Average diameter 2.5",  Medium, double (17-25 petals), full (26-40 petals), cluster-flowered, in small clusters bloom form,  Prolific, once-blooming spring or summer,  Glandular sepals, leafy sepals, long sepals buds.]
5                                                                                                                                      [White, blush shading,  Mild, wild rose fragrance ,  20 to 25 petals,  Average diameter 1.25",  Small, very double, cluster-flowered bloom form,  Blooms in flushes throughout the season.]
Name: bloom, dtype: object

In [100]:
df.bloom.str.split("\. ", expand=True)

,0,1,2,3,4,5,6,7,8
0,"Carmine-pink, salmon-pink streaks, stripes, flecks","Warm pink, clear carmine pink, rose pink shaded salmon",Mild fragrance,"Large, very double, in small clusters, high-centered bloom form",Blooms in flushes throughout the season.,None,None,None,None
1,Red,Flowers velvety red,Moderate fragrance,"Average diameter 4""","Medium-large, full (26-40 petals), borne mostly solitary bloom form",Blooms in flushes throughout the season.,None,None,None
2,Orange-pink,75 petals,"Large, very double bloom form",Blooms in flushes throughout the season.,None,None,None,None,None
3,White or white blend,None to mild fragrance,35 petals,"Large, full (26-40 petals), high-centered bloom form",Blooms in flushes throughout the season.,None,None,None,None
4,Light pink,[Deep pink.] Outer petals white,Expand rarely,Mild fragrance,35 to 40 petals,"Average diameter 2.5""","Medium, double (17-25 petals), full (26-40 petals), cluster-flowered, in small clusters bloom form","Prolific, once-blooming spring or summer","Glandular sepals, leafy sepals, long sepals buds."
5,"White, blush shading","Mild, wild rose fragrance",20 to 25 petals,"Average diameter 1.25""","Small, very double, cluster-flowered bloom form",Blooms in flushes throughout the season.,None,None,None

In [101]:
# Let us create another Series for analysing

info = ["id:345, age:25, salary:1200", "id:346, age:32, salary:1500", "id:347, age:28, salary:1400"]
s = pd.Series(info)
s

0    id:345, age:25, salary:1200
1    id:346, age:32, salary:1500
2    id:347, age:28, salary:1400
dtype: object

#### Split the Series to create a dataframe consisting of "id, age, and salary" columns.

In [102]:
s.str.split("\D+", expand=True)

# Here, the re.split() function splitted the given string in the Series with the pattern ("\D+"). 
# The output is a list of strings that have been splitted at points where they came across "\D+"
# Since the "expand" parameter was set to True, each element of the list output was used to create a new column.

  0    1   2     3
0    345  25  1200
1    346  32  1500
2    347  28  1400

In [103]:
df = s.str.split("\D+", expand=True).iloc[:, 1:]
df

     1   2     3
0  345  25  1200
1  346  32  1500
2  347  28  1400

In [104]:
df.columns = ["id", "age", "salary"]
df

    id age salary
0  345  25   1200
1  346  32   1500
2  347  28   1400

## [``pandas.Series.str.extract(pat, flags=0, expand=True)``](https://pandas.pydata.org/docs/reference/api/pandas.Series.str.extract.html)

Extract capture groups in the regex pat as columns in a DataFrame.

For each subject string in the Series, extract groups from the first match of regular expression pat.

#### Extract just numbers

In [105]:
# Let's create a new Series for our study

s = pd.Series(['a3aa', 'b4aa', 'c5aa'])
s

0    a3aa
1    b4aa
2    c5aa
dtype: object

In [106]:
s.str.extract("(\d)")

   0
0  3
1  4
2  5

#### Extract just letters

In [107]:
s.str.extract("(\D)\d(\D)(\D)")

   0  1  2
0  a  a  a
1  b  a  a
2  c  a  a

In [108]:
s.str.extract("(\D)\d(\D+)")

   0   1
0  a  aa
1  b  aa
2  c  aa

In [109]:
s.str.extract("(\w)\d(\w+)")

   0   1
0  a  aa
1  b  aa
2  c  aa

In [110]:
s.str.extract("(\w)\d(\w)(\w)")

   0  1  2
0  a  a  a
1  b  a  a
2  c  a  a

#### Extract "id, age and salary" values to create a dataframe consisting of "id, age and salary" columns.

In [111]:
# Let's create a new Series named "info" for our study

info = ["id:345, age:25, salary:1200", "id:346, age:32, salary:1500", "id:347, age:28, salary:1400"]
s = pd.Series(info)
s

0    id:345, age:25, salary:1200
1    id:346, age:32, salary:1500
2    id:347, age:28, salary:1400
dtype: object

In [112]:
df = s.str.extract("(\d+)\D+(\d+)\D+(\d+)")
df

# We created the same DataFrame above using str.split() method before

     0   1     2
0  345  25  1200
1  346  32  1500
2  347  28  1400

In [113]:
df.columns = ["id", "age", "salary"]
df

    id age salary
0  345  25   1200
1  346  32   1500
2  347  28   1400

In [114]:
s.str.findall("(\d+)")

0    [345, 25, 1200]
1    [346, 32, 1500]
2    [347, 28, 1400]
dtype: object

#### Extract first number

In [115]:
s= pd.Series(['40 l/100 km (comb)', 
        '38 l/100 km (comb)', '6.4 l/100 km (comb)',
       '8.3 kg/100 km (comb)', '5.1 kg/100 km (comb)',
       '5.4 l/100 km (comb)', '6.7 l/100 km (comb)',
       '6.2 l/100 km (comb)', '7.3 l/100 km (comb)',
       '6.3 l/100 km (comb)', '5.7 l/100 km (comb)',
       '6.1 l/100 km (comb)', '6.8 l/100 km (comb)',
       '7.5 l/100 km (comb)', '7.4 l/100 km (comb)',
       '3.6 kg/100 km (comb)', '0 l/100 km (comb)', 
       '7.8 l/100 km (comb)'])
s

0       40 l/100 km (comb)
1       38 l/100 km (comb)
2      6.4 l/100 km (comb)
3     8.3 kg/100 km (comb)
4     5.1 kg/100 km (comb)
5      5.4 l/100 km (comb)
6      6.7 l/100 km (comb)
7      6.2 l/100 km (comb)
8      7.3 l/100 km (comb)
9      6.3 l/100 km (comb)
10     5.7 l/100 km (comb)
11     6.1 l/100 km (comb)
12     6.8 l/100 km (comb)
13     7.5 l/100 km (comb)
14     7.4 l/100 km (comb)
15    3.6 kg/100 km (comb)
16       0 l/100 km (comb)
17     7.8 l/100 km (comb)
dtype: object

In [116]:
s.str.extract('(\d*.\d*).+/(\d*)')

      0    1
0   40   100
1   38   100
2   6.4  100
3   8.3  100
4   5.1  100
5   5.4  100
6   6.7  100
7   6.2  100
8   7.3  100
9   6.3  100
10  5.7  100
11  6.1  100
12  6.8  100
13  7.5  100
14  7.4  100
15  3.6  100
16   0   100
17  7.8  100

In [117]:
s.str.extract('(\d\d|\d.\d|\d)')
s.str.extract('(\d*.\d*)')
s.str.extract('(\S+)')

      0
0    40
1    38
2   6.4
3   8.3
4   5.1
5   5.4
6   6.7
7   6.2
8   7.3
9   6.3
10  5.7
11  6.1
12  6.8
13  7.5
14  7.4
15  3.6
16    0
17  7.8

#### Extract first and second number

In [118]:
s.str.extract('(\d*.\d*).+/(\d*)')

      0    1
0   40   100
1   38   100
2   6.4  100
3   8.3  100
4   5.1  100
5   5.4  100
6   6.7  100
7   6.2  100
8   7.3  100
9   6.3  100
10  5.7  100
11  6.1  100
12  6.8  100
13  7.5  100
14  7.4  100
15  3.6  100
16   0   100
17  7.8  100

#### Extract date as month and year separately

In [119]:
s = pd.Series(['06/2020\n\n4.9 l/100 km (comb)',
'11/2020\n\n166 g CO2/km (comb)',                                 
'10/2019\n\n5.3 l/100 km (comb)',
'05/2022\n\n6.3 l/100 km (comb)',
'07/2019\n\n128 g CO2/km (comb)',
'06/2022\n\n112 g CO2/km (comb)',                                                 
'01/2022\n\n5.8 l/100 km (comb)',
'11/2020\n\n106 g CO2/km (comb)',
'04/2019\n\n105 g CO2/km (comb)',
'08/2020\n\n133 g CO2/km (comb)',
'04/2022\n\n133 g CO2/km (comb)'])
s

0     06/2020\n\n4.9 l/100 km (comb)
1     11/2020\n\n166 g CO2/km (comb)
2     10/2019\n\n5.3 l/100 km (comb)
3     05/2022\n\n6.3 l/100 km (comb)
4     07/2019\n\n128 g CO2/km (comb)
5     06/2022\n\n112 g CO2/km (comb)
6     01/2022\n\n5.8 l/100 km (comb)
7     11/2020\n\n106 g CO2/km (comb)
8     04/2019\n\n105 g CO2/km (comb)
9     08/2020\n\n133 g CO2/km (comb)
10    04/2022\n\n133 g CO2/km (comb)
dtype: object

In [120]:
s.str.extract("(\d\d).(\d\d\d\d)")
#s.str.extract("(\d{2}).(\d{4})")
#s.str.extract("(\d*).(\d*)")
#s.str.extract("(\d\d)/(\d*)")
#s.str.extract("(\d\d)/(\d\d\d\d)")
#s.str.extract("(\d+).(\d+)")
#s.str.extract("(\S+)/(\S+)")

     0     1
0   06  2020
1   11  2020
2   10  2019
3   05  2022
4   07  2019
5   06  2022
6   01  2022
7   11  2020
8   04  2019
9   08  2020
10  04  2022

#### Extract date and comsuption value -> 4.9

In [121]:
s.str.extract('(\d+/\d+)\s+(\d+.\d+|\d+)')

          0    1
0   06/2020  4.9
1   11/2020  166
2   10/2019  5.3
3   05/2022  6.3
4   07/2019  128
5   06/2022  112
6   01/2022  5.8
7   11/2020  106
8   04/2019  105
9   08/2020  133
10  04/2022  133

#### Extract date as month and year separately

In [122]:
s = pd.Series(['\n\n4.9 06/2020 l/100 km (comb)',
'\n\n166 11/2020 g CO2/km (comb)',                                 
'\n\n5.3 10/2019 l/100 km (comb)',
'\n\n6.3 05/2022 l/100 km (comb)',
'\n\n128 07/2019 g CO2/km (comb)',
'\n\n112 06/2022 g CO2/km (comb)',                                                 
'\n\n5.8 01/2022 l/100 km (comb)'])
s

0    \n\n4.9 06/2020 l/100 km (comb)
1    \n\n166 11/2020 g CO2/km (comb)
2    \n\n5.3 10/2019 l/100 km (comb)
3    \n\n6.3 05/2022 l/100 km (comb)
4    \n\n128 07/2019 g CO2/km (comb)
5    \n\n112 06/2022 g CO2/km (comb)
6    \n\n5.8 01/2022 l/100 km (comb)
dtype: object

In [123]:
s.str.extract("\S+\s(\d+)/(\d+)")

    0     1
0  06  2020
1  11  2020
2  10  2019
3  05  2022
4  07  2019
5  06  2022
6  01  2022

## Example For Slides

In [124]:
text = "my email adress is example@gmail.com"

In [125]:
reg = re.search("([a-zA-Z0-9_.+-]+)@([a-zA-Z0-9_.+-]+)\.([a-zA-Z0-9_.+-]+)", text)

print(reg.group(0))
print(reg.group(1))
print(reg.group(2))
print(reg.group(3))

example@gmail.com
example
gmail
com

In [126]:
text = "/er._%+-@42f.-.Ab/"

In [127]:
reg = re.search("/[\w._%+-]+@[\w.-]+\.[a-zA-Z]{2,4}/", text)
print(reg.group(0))

/er._%+-@42f.-.Ab/

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#9d4f8c; font-size:150%; text-align:center; border-radius:10px 10px;">The End of The Session - 11 (Part - 01)</p>

<a id="5"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

<p style="text-align: center;"><img src="https://i.ibb.co/99DQ3TY/DS-Courses.png" class="img-fluid" 
alt="CLRSWY"></p>

<a href="https://clarusway.com/"><img align="center" src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" alt="CLRSWY" title="Way to Reinvent Yourself"></a><br/>


## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#9d4f8c; font-size:120%; text-align:center; border-radius:10px 10px;">Way to Reinvent Yourself</p>
___